/*cadastrar_empresa*/

header#header_header.py-3.mb-3.border-bottom{

margin-bottom: 0px;

}

body
{
    background-color:#84a454;
}



main{
        background-color: white ;


        justify-content: center;
        justify-items: center;
        text-align: center;


        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        
        margin-bottom: 1%;


       
    }



    #par_sep{

        margin-bottom: 2%;
        margin-top: 2%;
        
        
        
        }

/*EMPRESA*/

/*Divisão container*/

#div_cad_empresa.container{

    border-radius: 20px;
    border-color: black;
    border-style: solid;

    padding-left: 2%;
    padding-right: 2%;

    justify-content: center;
    justify-items: center;
    text-align: center;

    max-width: 50%;

    margin-bottom: 1% ;
    margin-top: 1%;

}


#div_sobre_empresa{

    padding-bottom: 10px;

}






/*Divisão dentro container*/

#nome_empresa{

    width: 90%;

}

#cont_social_empresa, #reg_cnpj, #area_atuacao_empresa, #email{

width: 85%;
    
}


#pes_resp_empresa, #cpf_pes_resp{

width: 85%;


}

#div_empresa1{

margin-left: 0%;
margin-right: 0%;
padding-left: 0%;
padding-right: 0%;


}


/*endereço*/
#end_principal, #end_complemento{

width: 85%;

}

#num_end_principal{

width: 50%;

}

#cidade, #estado, #cep{

width: 75%;

}

#estado{

border-color: black;

}




/*telefone*/

#tel_1, #tel_2{

width: 90%;

}



/*sobre*/

#txt_sobre_empresa{
margin-bottom: 10px;



}

#div_sobre_empresa{

margin-left: 0%;
margin-right: 0%;



 


}

#div_txt_sobre_empresa{




margin-bottom: 1%;



}




/*botão continuar */
#div_row_btn_continuar_empresa{

margin-top: 10px;
margin-bottom: 10px;



}



















/*cadastrar_ONG_1*/

/*Divisão container*/

#div_cad_ong_tela_1.container{

    border-radius: 20px;
    border-color: black;
    border-style: solid;
    
    padding-left: 1%;
    padding-right: 1%;
    
    justify-content: center;
    justify-items: center;
    text-align: center;
    max-width: 50%;


    margin-bottom: 1% ;
    margin-top: 1%;

}



/*Divisão dentro container*/

#nome_ong{

    width: 60%;


}

#sigla_ong{

width: 30%;



}

#data_fund{

width: 60%;


}



/*pessoa*/

#pes_resp_ong{

width: 50%;


}


#estado, #div_estado{

justify-content: center;
justify-items: center;
text-align: center;

}

 /*botão continuar */
#div_row_btn_continuar_ong{

   
    margin-top: 50px;
    margin-bottom: 10px;
    
    justify-content: center;
    justify-items: center;
    text-align: center;

}







/*Tela cadastrar_ONG_2



/*Divisão container*/
#div_cad_ong_tela2{
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    
    padding-left: 1%;
    padding-right: 1%;
    
    justify-content: center;
    justify-items: center;
    text-align: center;

max-width: 50%;

margin-bottom: 1% ;
margin-top: 1%;


}


#div_esc_causa{

margin-top: 5%;

}

/*Divisão dentro container*/

#esc_causa_amb, #esc_causa_ani,#esc_causa_edu,#esc_causa_sau,#esc_causa_soc, #esc_causa_out{

    margin-left: 5%;
    margin-right: 4px;
    
    
    }
    
input#esc_causa_out_txt{

width: 400px;

}


/*Input caixas de texto redes*/
input#redes_ong_instagram,input#redes_ong_facebook,input#redes_ong_x,input#redes_ong_linkedin{
    
    width: 400px;



}



#div_row_btn_continuar_ong_2{

   
    margin-top: 50px;
    margin-bottom: 10px;
    
    justify-content: center;
    justify-items: center;
    text-align: center;


}

#row_ong_logo{

margin-top: 3%;


}
















